.room {
    position: relative;
    
  }
  body {
    /* margin: 0;
    padding: 0; */
    overflow: hidden; 
  }
  
  .room__image {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .room__object {
    position: absolute;
    cursor: pointer;
    z-index: 1; 
    width: 100%;
    overflow-y: hidden;
  }
  
  .room__object.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
  }
  
  .room__object-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  
  .bag {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
   
   
    border-radius: 5px;
    padding: 10px;
    z-index: 10; /* higher than room__image */
  }
  
  .bag__item {
    margin-bottom: 10px;
  }
  
  .bag__item img {
    width: 100%;
    height: auto;
  }
  
  .app {
    position: relative;
    display: flex;
  }  
  
  .app__button {
    position: absolute;
    z-index: 10; /* higher than room__image */
  }
  .computer {
    position: absolute;
    top: 75%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 3;
  }

  .chat_popup {
    position: absolute;
    top: 75%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 3;
  }

  .chat__model {
    position: absolute;
    top: -150%;
    left: 150%;
    transform: translate(-50%, -50%);
    width: 400px;
    height:400px;
    background-color: rgba(0, 0, 0, 0.7);
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  
  .computer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .computer__model {
    position: absolute;
    top: -150%;
    left: 150%;
    transform: translate(-50%, -50%);
    width: 400px;
    height:400px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  
  
  
  .computer__keypad {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
  }
  
  .computer__keypad button {
    width: 22px;
    height: 22px;
    margin: 5px;
    font-size: 13px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: black;
  }
  
  
  .computer__password {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .computer__error {
    color: red;
    margin-bottom: 20px;
  }
  
  .computer__actions {
    display: flex;
  }
  
  .computer__actions button {
    width: 80px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: 0 8px;
  }
  
  .keypad {
    position: fixed;
  bottom: -440px;
  right: -700px;
  z-index:2;
  cursor: pointer;
    width: 100%;
    height: 100%;

    /* top: -25%;
    left: 5%; */
  }
  
  .keypad img {
    width: 2%;
    height: 2%;
  }
  
  .keypad__model {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .keypad__model input {
    margin: 10px 0;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    outline: none;
  }
  
  .keypad__model button {
    margin: 15px 0;
    width: 100px;
    height: 60px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
  }
  