
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-theme {
  /* Set the background color to a dark shade */
  background : linear-gradient(to bottom, #333, #000);
  /* Change the text color to a light shade */
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-theme body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(to bottom, #333, #000);
  background-color: black;
  color: #fff;
}


.landing-page {
  background-image: url('./assets/landing-bg.png');
 
}

.black-background {
  background-color: black;
  color: white;
  min-height: 100%;
}

body {
  background-color: #000;
}
.bg-black {
  background-color: black;
  color : white;
}

.foreboding-text {
  font-size: 100px;  /* set the font size to 72 pixels */
  text-align: center;  /* center the text within the div */
  font-family: 'Bradley Hand ITC';
  color: white;
  position: absolute;  /* position the div absolutely on the page */
  top: 40%;  /* position the div 50% from the top of the page */
  left: 50%;  /* position the div 50% from the left of the page */
  transform: translate(-50%, -50%);  /* adjust the position of the div to center it on the page */
}



.wallet-button {
  background-color: black;  /* set the background color of the button to white */
  color: white;  /* set the text color to black */
  border: none;  /* remove the border from the button */
  padding: 15px 32px;  /* add some padding to the button */
  text-align: center;  /* center the text within the button */
  text-decoration: none;  /* remove the default text decoration from the button */
  display: inline-block;  /* display the button as an inline block */
  font-size: 16px;  /* set the font size to 16 pixels */
  margin: 4px 2px;  /* add some margin to the button */
  cursor: pointer;  /* change the cursor to a pointer when the button is hovered */
  position: absolute;  /* position the button relatively on the page */
  top: 50%;  /* position the button 50 pixels below the 'foreboding' text */
  left: 43%;
  transition: background-color 0.3s;  /* add a transition effect to the background color */
}

.wallet-button:hover {
  background-color: gray;  /* change the background color to gray when the button is hovered */
  color: white;
}



:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa -43.27%,
    #acffa7 -21.24%,
    #50fd5e 12.19%,
    #39f633 29.82%,
    #14f733 51.94%,
    #26ff00 90.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #acffa7 -21.24%,
    #50fd5e 12.19%,
    #39f633 29.82%,
    #14f733 51.94%,
    #26ff00 90.29%
  );
}

.bg-green {
  background: #2e9e1b
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: var(--black-gradient);
}

.feedback-card:hover {
  background: var(--black-gradient);
  cursor: pointer;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}



a {
  color: #ffffff;
  font-family: 'Bradley Hand ITC', cursive;
  font-weight: bold;
  font-size: 20px;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  overflow: hidden;
  cursor : pointer;

}

.card:hover {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}


.card-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.card-title {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-description {
  margin: 10px;
  font-size: 14px;
  color: #666;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (max-width: 800px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 10%;
}

input {
  width: 300px;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
}


.inventory-bag {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  
  background-color: #fff;
  border: 1px solid #ccc;
  opacity: 0.5;
}

.hint-card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 10px;
  padding: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: black;

}

.hint-card:hover {
  box-shadow: 0 0 40px rgb(9, 10, 10);
}

.btn-black {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.2s;
}

.btn-black:hover {
  background-color: gray;
  box-shadow: 2px 2px 10px 5px white;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 200px;
  height: 100px;
  margin: auto;
  background-color: #eee;
}